<body class="bg-gray-100 font-sans">
  <nav class="w-full h-auto bg-darkPurple">
    <%= button_to 'Iniciar sesión', new_session_path, method: :get, class: 'text-white' %>
  </nav>

    <main class="flex justify-center items-center">
      Productos
    </main>
